/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Default font family */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of viewport height */
}

/* Set box-sizing to border-box */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Define accent color */
:root {
    --accent-color: #007bff; /* Default accent color */
}

/* Styles for navigation bar */
.navbar {
    background-color: #111; /* Dark background color */
    overflow: hidden;
    width: 100%; /* Full width */
    display: flex;
    justify-content: space-between; /* Align items to the ends */
    align-items: center; /* Center vertically */
    padding: 10px 20px; /* Add padding */
    position: fixed; /* Make navbar sticky */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it's above other elements */
}

.navbar img {
    height: 50px; /* Adjust height of the logo */
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(277deg) brightness(104%) contrast(104%);
    /* Use filter for dynamic color inversion */
}

.navbar-links {
    display: flex; /* Display links in a horizontal line */
}

.navbar-links a {
    display: inline-block; /* Display links as inline-block elements */
    color: var(--accent-color); /* Dynamic text color */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.navbar-links a:hover {
    background-color: #333; /* Slightly lighter background color on hover */
    border-bottom: 3px solid var(--accent-color)
}

.navbar-links a.active {
    border-bottom: 3px solid var(--accent-color)
}

/* Styles for hero section */
.hero-section {
    background-image: url('https://fakeimg.pl/1200x700');
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-top: 50px; /* Adjust margin top to avoid overlapping with the navbar */
}

.hero-content {
    max-width: 600px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}
.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styles for other sections */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    background-color: #444; /* Darker background color */
    color: #fff; /* Light text color */
    padding: 100px 20px; /* Increased padding */
    text-align: center;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Styles for contact form */
.contact-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #555; /* Darker background color */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    color: #fff; /* Lighter text color */
    width: 100%; /* Full width */
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border: none; /* Remove all borders */
    border-bottom: 1px solid var(--accent-color); /* Dynamic bottom border color */
    background-color: transparent; /* Make Background Clear */
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    background-color: var(--accent-color); /* Dynamic button background color */
    color: #fff; /* Light text color */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.contact-form button:hover {
    background-color: #999; /* Slightly lighter button background color on hover */
}

/* Gallery styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid layout */
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 40px;
}

.gallery-item {
    background-color: #2c2c2c; /* Light background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Smooth transform transition */
    overflow: hidden;
}

.gallery-item:hover {
    transform: translateY(-5px); /* Move up on hover */
}

.gallery-item img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease; /* Smooth transform transition */
}

.gallery-item:hover img {
    transform: scale(1.1); /* Scale up on hover */
}

.gallery-item-content {
    padding: 20px 0;
    text-align: center;
}

.gallery-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.gallery-item p {
    font-size: 14px;
    margin: 0;
}

/* Footer styles */
footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Ensure footer is positioned correctly */
    bottom: 0; /* Stick to the bottom */
}

footer p {
    margin: 0;
}

footer .copyright {
    flex-grow: 1;
    text-align: left;
    padding-left: 20px;
}

footer .contact-info {
    text-align: right;
    padding-right: 20px;
}
